@model Models.ViewModels.ConfirmationPageViewModel
@{
    ViewData["Title"] = "ConfirmationPage";
}

<h1>Order Confirmed</h1>


<label>Your order has been placed! Please take note of your order id which is @Model.OrderId</label>

<br />
<br />

<label>Thanks for shopping with us!</label>