@model Models.ViewModels.CustomerCartViewModel
@{
    ViewData["Title"] = "Home Page";
}

    <form method="post" action="/checkout/PlaceOrder">
        First name: <input name="FirstName" />
        <br />
        Last Name: <input name="LastName" />

        <br />
        Email: <input name="Email" />
        <br />
        Phone Number: <input name="PhoneNumber" />

        <br />
        Address1: <input name="Address1" />
        <br />
        Address2: <input name="Address2" />
        <br />
        Address3: <input name="Address3" />
        <br />
        Address4: <input name="Address4" />
        <br />
        PostCode: <input name="PostCode" />
        <br />
        <button type="submit" class="btn btn-success">Confirm Order</button>
    </form>