@model Models.ViewModels.CollectionPageViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="card-group">
        @foreach (var product in Model.Products)
        {
            <div class="card" style="width: 18rem;" onclick="cardClicked('@product.ProductId')">
                <img class="card-img-top" src="@product.MainImage" alt="Picture">
                <div class="card-body">
                    <h5 class="card-title">@product.ProductName</h5>
                    <br />
                    <br />
                    <h4>Price: £@product.Price</h4>
                </div>
            </div>
        }
    </div>
</div>


<script type="text/javascript">
    var cardClicked = function (productId) {
        window.location.href = '/buypage/index/' + productId;
    };
</script>